<main class="container">
  <%= if get_flash(@conn, :info) do %>
    <article class="message is-primary" role="alert">
      <div class="message-body">
        <%= get_flash(@conn, :info) %>
      </div>
    </article>
  <% end %>
  <%= if get_flash(@conn, :error) do %>
    <article class="message is-danger" role="alert">
      <div class="message-body">
        <%= get_flash(@conn, :error) %>
      </div>
    </article>
  <% end %>
  <%= @inner_content %>
</main>
